spring:
  datasource:
    url: jdbc:mysql://localhost:3306/electronics_shop?createDatabaseIfNotExist=true
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MariaDBDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true



  data:
    jpa:
      repositories:
        bootstrap-mode: default

jwt:
  signerKey: z668y668P92vXpY6q9z2Rk8WnN3mQ4T7V9A2C5E8G1J4M7P0S3V6Y9B2E5H8K1M4
  valid-duration: 3600
  refreshable-duration: 360000